IF OBJECT_ID('[20250307_CHC_Claim_Baseline_RAW]', 'U') IS NOT NULL
    DROP TABLE PY1.[20250307_CHC_Claim_Baseline_RAW];
CREATE TABLE PY1.[20250307_CHC_Claim_Baseline_RAW] (
    [ClaimNumber] NVARCHAR(MAX),
    [ClaimType] NVARCHAR(MAX),
    [TypeOfBill] NVARCHAR(MAX),
    [StatementFromDate] NVARCHAR(MAX),
    [StatementThroughDate] NVARCHAR(MAX),
    [AdmissionDate] NVARCHAR(MAX),
    [AdmissionTypeCode] NVARCHAR(MAX),
    [SourceofAdmission] NVARCHAR(MAX),
    [DischargeDate] NVARCHAR(MAX),
    [DischargeStatusCode] NVARCHAR(MAX),
    [ClaimStatus] NVARCHAR(MAX),
    [ClaimPaidDate] NVARCHAR(MAX),
    [AuthorizationID] NVARCHAR(MAX),
    [PatientControl_AccountNumber] NVARCHAR(MAX),
    [MedicalRecordNumber] NVARCHAR(MAX),
    [BirthWeight] NVARCHAR(MAX),
    [BillingProviderID] NVARCHAR(MAX),
    [BillingProviderTIN] NVARCHAR(MAX),
    [BillingProviderNPI] NVARCHAR(MAX),
    [BillingProviderName] NVARCHAR(MAX),
    [MedicaidFacility_ProviderID] NVARCHAR(MAX),
    [AttendingPhysicianNPI] NVARCHAR(MAX),
    [AttendingPhysicianTIN] NVARCHAR(MAX),
    [AttendingPhysicianName] NVARCHAR(MAX),
    [OperatingPhysicianNPI] NVARCHAR(MAX),
    [OperatingPhysicianTIN] NVARCHAR(MAX),
    [OperatingPhysicianName] NVARCHAR(MAX),
    [AdmittingDiagnosis] NVARCHAR(MAX),
    [PrincipalDiagnosis_Diagnosis1] NVARCHAR(MAX),
    [Diagnosis2] NVARCHAR(MAX),
    [Diagnosis2POA_Indicator] NVARCHAR(MAX),
    [Diagnosis3] NVARCHAR(MAX),
    [Diagnosis3POA_Indicator] NVARCHAR(MAX),
    [Diagnosis4] NVARCHAR(MAX),
    [Diagnosis4POA_Indicator] NVARCHAR(MAX),
    [Diagnosis5] NVARCHAR(MAX),
    [Diagnosis5POA_Indicator] NVARCHAR(MAX),
    [Diagnosis6] NVARCHAR(MAX),
    [Diagnosis6POA_Indicator] NVARCHAR(MAX),
    [Diagnosis7] NVARCHAR(MAX),
    [Diagnosis7POA_Indicator] NVARCHAR(MAX),
    [Diagnosis8] NVARCHAR(MAX),
    [Diagnosis8POA_Indicator] NVARCHAR(MAX),
    [Diagnosis9] NVARCHAR(MAX),
    [Diagnosis9POA_Indicator] NVARCHAR(MAX),
    [Diagnosis10] NVARCHAR(MAX),
    [Diagnosis10POA_Indicator] NVARCHAR(MAX),
    [Diagnosis11] NVARCHAR(MAX),
    [Diagnosis11POA_Indicator] NVARCHAR(MAX),
    [Diagnosis12] NVARCHAR(MAX),
    [Diagnosis12POA_Indicator] NVARCHAR(MAX),
    [Diagnosis13] NVARCHAR(MAX),
    [Diagnosis13POA_Indicator] NVARCHAR(MAX),
    [Diagnosis14] NVARCHAR(MAX),
    [Diagnosis14POA_Indicator] NVARCHAR(MAX),
    [Diagnosis15] NVARCHAR(MAX),
    [Diagnosis15POA_Indicator] NVARCHAR(MAX),
    [Diagnosis16] NVARCHAR(MAX),
    [Diagnosis16POA_Indicator] NVARCHAR(MAX),
    [Diagnosis17] NVARCHAR(MAX),
    [Diagnosis17POA_Indicator] NVARCHAR(MAX),
    [Diagnosis18] NVARCHAR(MAX),
    [Diagnosis18POA_Indicator] NVARCHAR(MAX),
    [Diagnosis19] NVARCHAR(MAX),
    [Diagnosis19POA_Indicator] NVARCHAR(MAX),
    [Diagnosis20] NVARCHAR(MAX),
    [Diagnosis20POA_Indicator] NVARCHAR(MAX),
    [Diagnosis21] NVARCHAR(MAX),
    [Diagnosis21POA_Indicator] NVARCHAR(MAX),
    [Diagnosis22] NVARCHAR(MAX),
    [Diagnosis22POA_Indicator] NVARCHAR(MAX),
    [Diagnosis23] NVARCHAR(MAX),
    [Diagnosis23POA_Indicator] NVARCHAR(MAX),
    [Diagnosis24] NVARCHAR(MAX),
    [Diagnosis24POA_Indicator] NVARCHAR(MAX),
    [Diagnosis25] NVARCHAR(MAX),
    [Diagnosis25POA_Indicator] NVARCHAR(MAX),
    [ICD_Version] NVARCHAR(MAX),
    [PrimaryICD10Procedurecode] NVARCHAR(MAX),
    [PrimaryICD10ProcedureCodeDate] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode2] NVARCHAR(MAX),
    [AdditionalICDProcedureCode2Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode3] NVARCHAR(MAX),
    [AdditionalICDProcedureCode3Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode4] NVARCHAR(MAX),
    [AdditionalICDProcedureCode4Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode5] NVARCHAR(MAX),
    [AdditionalICDProcedureCode5Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode6] NVARCHAR(MAX),
    [AdditionalICDProcedureCode6Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode7] NVARCHAR(MAX),
    [AdditionalICDProcedureCode7Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode8] NVARCHAR(MAX),
    [AdditionalICDProcedureCode8Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode9] NVARCHAR(MAX),
    [AdditionalICDProcedureCode9Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode10] NVARCHAR(MAX),
    [AdditionalICDProcedureCode10Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode11] NVARCHAR(MAX),
    [AdditionalICDProcedureCode11Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode12] NVARCHAR(MAX),
    [AdditionalICDProcedureCode12Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode13] NVARCHAR(MAX),
    [AdditionalICDProcedureCode13Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode14] NVARCHAR(MAX),
    [AdditionalICDProcedureCode14Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode15] NVARCHAR(MAX),
    [AdditionalICDProcedureCode15Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode16] NVARCHAR(MAX),
    [AdditionalICDProcedureCode16Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode17] NVARCHAR(MAX),
    [AdditionalICDProcedureCode17Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode18] NVARCHAR(MAX),
    [AdditionalICDProcedureCode18Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode19] NVARCHAR(MAX),
    [AdditionalICDProcedureCode19Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode20] NVARCHAR(MAX),
    [AdditionalICDProcedureCode20Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode21] NVARCHAR(MAX),
    [AdditionalICDProcedureCode21Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode22] NVARCHAR(MAX),
    [AdditionalICDProcedureCode22Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode23] NVARCHAR(MAX),
    [AdditionalICDProcedureCode23Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode24] NVARCHAR(MAX),
    [AdditionalICDProcedureCode24Date] NVARCHAR(MAX),
    [AdditionalICD10ProcedureCode25] NVARCHAR(MAX),
    [AdditionalICDProcedureCode25Date] NVARCHAR(MAX),
    [DRG] NVARCHAR(MAX),
    [DRGSeveritySOI] NVARCHAR(MAX),
    [DRGType] NVARCHAR(MAX),
    [DRGVersion] NVARCHAR(MAX),
    [SubmittedDRG] NVARCHAR(MAX),
    [SubmittedDRGSeveritySOI] NVARCHAR(MAX),
    [SubmittedDRGType] NVARCHAR(MAX),
    [SubmittedDRGVersion] NVARCHAR(MAX),
    [OutlierClaimFlag] NVARCHAR(MAX),
    [OutlierPaidAmount] NVARCHAR(MAX),
    [ClaimLineNumber] NVARCHAR(MAX),
    [DateofServiceFrom] NVARCHAR(MAX),
    [DateofServiceTo] NVARCHAR(MAX),
    [RevenueCode] NVARCHAR(MAX),
    [HCPCS_CPT4Code] NVARCHAR(MAX),
    [HCPCS_CPT4_Modifier1] NVARCHAR(MAX),
    [HCPCS_CPT4_Modifier2] NVARCHAR(MAX),
    [HCPCS_CPT4_Modifier3] NVARCHAR(MAX),
    [HCPCS_CPT4_Modifier4] NVARCHAR(MAX),
    [DiagnosisPointer] NVARCHAR(MAX),
    [Servicing_Rendering_ProviderID] NVARCHAR(MAX),
    [NationalProviderIdentifier] NVARCHAR(MAX),
    [Servicing_RenderingProviderTIN] NVARCHAR(MAX),
    [Servicing_RenderingProviderName] NVARCHAR(MAX),
    [PlaceofServiceCode] NVARCHAR(MAX),
    [UnitsofService] NVARCHAR(MAX),
    [AllowedUnits] NVARCHAR(MAX),
    [TotalCharges] NVARCHAR(MAX),
    [NonCoveredAmount] NVARCHAR(MAX),
    [AllowedAmountHeader] NVARCHAR(MAX),
    [AllowedAmount] NVARCHAR(MAX),
    [PaidAmount] NVARCHAR(MAX),
    [DeductibleAmount] NVARCHAR(MAX),
    [CopayAmount] NVARCHAR(MAX),
    [CoinsuranceAmount] NVARCHAR(MAX),
    [COBIndicator] NVARCHAR(MAX),
    [COBAmount] NVARCHAR(MAX),
    [DeniedDays_NoncoveredDays] NVARCHAR(MAX),
    [DeniedIndicatorReason] NVARCHAR(MAX),
    [DenialReasonCode] NVARCHAR(MAX),
    [AdjustmentReasonCode] NVARCHAR(MAX),
    [AdjustmentReason] NVARCHAR(MAX),
    [OriginalClaimNumber] NVARCHAR(MAX),
    [MemberID] NVARCHAR(MAX),
    [TemporaryID] NVARCHAR(MAX),
    [SubscriberID] NVARCHAR(MAX),
    [DependentNumber] NVARCHAR(MAX),
    [MemberBirthdate] NVARCHAR(MAX),
    [MemberFirstName] NVARCHAR(MAX),
    [MemberLastName] NVARCHAR(MAX),
    [MemberState] NVARCHAR(MAX),
    [MemberZipCode] NVARCHAR(MAX),
    [LineofBusiness] NVARCHAR(MAX),
    [Product] NVARCHAR(MAX),
    [GroupID] NVARCHAR(MAX),
    [DPPPaidAmt] NVARCHAR(MAX)
);
